extends layout
block append scripts
  script(src="/javascripts/mixin.js")

mixin ListActivities(activities)
  div(class="ui relaxed divided items")
    each activity, i in activities
      div(class="item")
        div(class="ui small image")
          img(src="https://semantic-ui.com/examples/assets/images/wireframe/image.png")
        div(class="content")
          a(class="header") #{activity.title}
          div(class="meta")
            a(style="margin-right: 50px") Time: #{activity.time}
            a(style="margin-right: 50px") Location: #{activity.location_name}
            a(style="margin-right: 50px") Organizer: #{activity.organizer}
          div(class="description").
            #{activity.description}
          div(class="extra")
            a(href="/activity/#{activity._id}")
              div(class="ui right floated primary button") View Detail
                i(class="right chevron icon")
            if activity.status == "future"
              div(class="ui purple label") #{activity.status}
            else if activity.status == "going"
              div(class="ui green label") #{activity.status}
            else if activity.status == "finished"
              div(class="ui yellow label") #{activity.status}
            else if activity.status == "cancelled"
              div(class="ui label") #{activity.status}
            div(class="ui label", style="margin: 0px 15px") #{activity.participation_method}
            if activity.expense == 0
              div(class="ui green tag label", style="margin: 0px 15px") #{activity.expense}
            else  
              div(class="ui red tag label", style="margin: 0px 15px") #{activity.expense}
//- user{avatar: String, nickname: String}
mixin user_label(user)
  div.ui.image.label
    img(src=user.avatar)
    |#{user.nickname}

//- followee{_id: String}
mixin follow(followee)
  div(class="ui tiny follow button", followee = followee._id)
    div.unfollowed
      i.plus.icon
      |follow
    div.followed
      |Followed