mixin ListActivities(activities)
	div(class="ui relaxed divided items")
		each activity, i in activities
			div(class="item")
				div(class="ui small image")
					img(src="https://semantic-ui.com/examples/assets/images/wireframe/image.png")
				div(class="content")
					a(class="header") #{activity.title}
					div(class="meta")
						a(style="margin-right: 50px") Time: #{activity.time}
						a(style="margin-right: 50px") Location: #{activity.location_name}
						a(style="margin-right: 50px") Organizer: #{activity.organizer}
					div(class="description").
						#{activity.description}
					div(class="extra")
						div(class="ui right floated primary button") View Detail
							i(class="right chevron icon")
						if activity.status == "future"
							div(class="ui purple label") #{activity.status}
						else if activity.status == "going"
							div(class="ui green label") #{activity.status}
						else if activity.status == "finished"
							div(class="ui yellow label") #{activity.status}
						else if activity.status == "cancelled"
							div(class="ui label") #{activity.status}
						div(class="ui label") #{activity.participation_method}
						div(class="ui tag label", style="margin: 0px 15px") #{activity.expense}