extends ../layout
include ../mixins
block append scripts
    script(src="/javascripts/google-calendar-api.js")
    script(async, defer, src="https://apis.google.com/js/api.js"
       onload="this.onload=function(){};handleClientLoad()"
       onreadystatechange="if (this.readyState === 'complete') this.onload()"
    )
    script.
        var activity = !{JSON.stringify(activity)};
        var start = new Date(activity.start_time);
        var end = new Date(activity.end_time);
        const event = {
            'summary': activity.title,
            'start': {'dateTime': start},
            'end': {'dateTime': end},
            'description': activity.description
        };
        $('._calendar.modal').modal();
block content
    div(class="ui four column stackable grid container")
        div(class="two wide column")
        div(class="three wide column")
            img(src=activity.picture.replace('static', ''), style="width:150px;height:150px")
        div(class="five wide column", style="z-index: 0")
            div(class="row", style="position:absolute; bottom:20px;")
                div(class="ui header") #{activity.title}
                
                if (user_status != 'participant' && user_status != 'organizer')
                    button(class="ui animated teal fade button", tabindex="0", id="join")
                        div(class="visible content") Join
                        div(class="hidden content")
                            i(class="add square icon")
                script.
                    $(document).ready(function(){
                        if (user_status == "guest") {
                            $('#join').prop('disabled', true);
                        }

                        $('#join').click(function(){
                            //alert("click join");
                            $.post({
                                "url": "/activity/#{activity._id}/customermodify",
                                "data": { "join": "1" },
                                "success": function(new_data){
                                                //alert("repsonse");
                                                if (new_data.err) {
                                                    alert(new_data.err);
                                                }
                                                else{
                                                    alert(new_data.join);
                                                    window.location.reload(true);
                                                }
                                            },
                                "dataType": "JSON"
                            });
                        });
                    });

                if (user_status == 'participant')
                    button(class="ui animated teal fade button", tabindex="0", id="quit")
                        div(class="visible content") Quit
                        div(class="hidden content")
                            i(class="minus square icon")
                script.
                    $(document).ready(function(){
                        if (user_status == "guest") {
                            $('#quit').prop('disabled', true);
                        }

                        $('#quit').click(function(){
                            //alert("click quit");
                            $.post({
                                "url": "/activity/#{activity._id}/customermodify",
                                "data": { "quit": "1" },
                                "success": function(new_data){
                                                //alert("repsonse");
                                                if (new_data.err) {
                                                    alert(new_data.err);
                                                }
                                                else{
                                                    alert(new_data.quit);
                                                    window.location.reload(true);
                                                }
                                            },
                                "dataType": "JSON"
                            });
                        });
                    });

                if (user_status == 'organizer')
                    a(id="modify_link")
                        button(class="ui animated teal fade button", tabindex="0", id="modify")
                            div(class="visible content") Modify
                            div(class="hidden content")
                                i(class="write icon")
                    script.
                        $(document).ready(function(){
                            if (user_status != "organizer") {
                                $('#modify').prop('disabled', true);
                            }
                            else {
                                $('#modify_link').prop('href', "/activity/#{activity._id}/organizermodify");
                            }
                        });

        div(class="column")
            a(href="/user/#{activity.organizer_info._id}")
                div(class="ui violet raised link card", href="/user/#{activity.organizer_info._id}", style="margin-top: 40px; margin-left:60px")
                    div(class="content")
                        img(class="right floated mini ui image" src=activity.organizer_info.avatar.replace('static', ''))
                        div(class="header") #{activity.organizer_info.nickname}
                        div(class="meta") Organizer
                        div(class="description") Elliot requested permission to view your contact details

    div(class="ui stackable grid container")
        div(class="column")
        div(class="four wide column", id="notes_time_line")
            div(class="ui segment")
                each note in activity.notes
                    div(class="ui orange card")
                        div(class="content")
                            div(class="header") #{note.title}
                        div(class="content") #{note.short_description}
                        div(class="extra content")
                            a(href="/note/view/#{note._id}")
                                button(class="ui mini button") View Detail
            a(href="/note/create/#{activity._id}")
                button(class="ui labeled icon fluid button", id="search_more", tabindex = '-1')
                    i(class="add icon")
                    | Create New Note

        div(class="ten wide column", id="activity_info")
            div(class="ui raised segment", style="z-index: 0")
                a(class="ui blue right ribbon label" id="google-calendar-button") Add to My Calendar
                div.ui.modal._calendar
                    div.header Success
                    div.content
                        div.description This event has been added to your google calendar.
                    div.actions
                        a(class = 'next ui positive button') View Event
                        a(class = 'ui cancel button') Close
                div(class="row", style="margin: 10px")
                    //- +user_label(activity.organizer_info)
                    //- a(href="/user/#{activity.organizer_info._id}")
                    //-     div(class="ui tiny icon button" data-content="View his/her personal page", id="user_label", style="margin-left: 10px")
                    //-         i(class="newspaper icon")
                    //-     script.
                    //-         $(document).ready(function(){
                    //-             $("#user_label").popup();
                    //-         });

                div(class="row", style="margin: 10px")
                    h4(class="ui grey header", id="time")
                        i(class="calendar outline icon")
                        | From: &nbsp#{activity.start_time}
                div(class="row", style="margin: 10px")
                    h4(class="ui grey header", id="time")
                        i(class="calendar outline icon")
                        | To: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{activity.end_time}

                style.
                    #location:hover{
                        cursor: pointer;
                    }
                div(class="row", style="margin: 10px")
                    h4(class="ui grey header", id="location")
                        i(class="location arrow icon")
                        | #{activity.location_name}
                if activity.participants_info
                    div.row(style="margin: 10px")
                        h4.ui.grey.header
                            //- i.left.floated.user.icon
                            |&nbsp&nbspParticipants:
                            for participant in activity.participants_info
                                +user_label(participant)

                div(class="row", style="margin: 10px")
                    if activity.status == "future"
                        div(class="ui large purple label") #{activity.status}
                    else if activity.status == "going"
                        div(class="ui large green label") #{activity.status}
                    else if activity.status == "finished"
                        div(class="ui large yellow label") #{activity.status}
                    else if activity.status == "cancelled"
                        div(class="ui large label") #{activity.status}

                    div(class="ui large label", style="margin: 0px 15px") #{activity.participation_method} (Join method)

                    if activity.expense == 0
                        div(class="ui large green tag label", style="margin: 0px 15px") #{activity.expense}
                    else    
                        div(class="ui large red tag label", style="margin: 0px 15px") #{activity.expense}

                div(class="row", style="margin: 10px")
                    div(class="ui star rating", id="rating")
                    button(class="ui mini button", id="rate", style="margin: 0px 10px") Rate
                    script(type='text/javascript').
                        var data = !{JSON.stringify(activity)};
                        var rating = data.rating ? parseInt(data.rating) : 0;
                        var user_status = !{JSON.stringify(user_status)};

                        $(document).ready(function() {
                            $('#rating').rating({
                                initialRating: rating,
                                maxRating: 5
                            });
                            
                            if (user_status != "participant") {
                                $('#rating').rating("disable");
                                $('#rate').popup({
                                    content: "Join the activity brefore rate"
                                });
                                $('#rate').prop('disabled', true);
                            }

                            $('#rate').click(function(){
                                //alert("click rate");
                                var value = $('#rating').rating("get rating");
                                $.post({
                                    "url": "/activity/#{activity._id}/customermodify",
                                    "data": { "rating": value },
                                    "success": function(new_data) {
                                                    //alert("repsonse");
                                                    if (new_data.err) {
                                                        alert(new_data.err);
                                                        $('#rating').rating("set rating", rating);
                                                    }
                                                    else{
                                                        var new_rating = parseInt(new_data.rating);
                                                        alert("Rate success.");
                                                        //$('#rating').rating("set rating", new_rating);
                                                        window.location.reload(true);
                                                    }
                                                },
                                    "dataType": "JSON"
                                });
                            });
                        });

                div(class="row", style="margin: 10px")
                    if user_status == "organizer" || user_status == "participant"
                        div(class="ui icon message")
                            i(class="inbox icon")
                            div(class="content")
                                div(class="header").
                                    Content for Participants
                                p #{activity.content_for_participants}

                div(class="row", style="margin: 10px")
                    div(class="ui piled segment")
                        h4(class="header") Description
                        div!= activity.description

    div(class="ui basic modal", id="map_container")
        div.content
            iframe(width="800" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDcab1nkLhhjx3FLg6Ve7TCzUfsOQsEdTk&q="+activity.location_name.replace(' ', '+'), allowfullscreen)
        script.
            $(document).ready(function(){
                $('#location').click(function(){
                    $('#map_container').modal('show');
                });
                //- $('.iframe').prop('src', "https://www.google.com/maps/embed/v1/place?key=AIzaSyDcab1nkLhhjx3FLg6Ve7TCzUfsOQsEdTk&q="+activity.location_name.replace(' ', '+'));
                $('.iframe').attr('src', "https://www.google.com/maps/embed/v1/place?key=AIzaSyDcab1nkLhhjx3FLg6Ve7TCzUfsOQsEdTk&q="+activity.location_name.replace(' ', '+'))
            });

