extends ../layout

block content
	script.
		$(document).ready(function() {
			$('.ui.float.segment').hover(function(){
				$(this).css("background-color","#F0F0F0");
			}, function(){
				$(this).css("background-color","white");
			});
		});
	if notes == false
		div(class='ui center aligned text container') 
			h1 No Result
	each note in notes
		div(class='ui main text container')
			a(href="/note/view/#{note._id}")
				div(class="ui float segment")
					div(class="ui grid")
						div(class="four wide column")
							img(class="ui small image" src=note.picture.replace('static', ''))
						div(class="twelve wide column")
							h1(class='ui header') #{note.title}
							h5(class='ui grey header') 
								div
									i(class="user icon")
									|#{note.authorname}
								div
									i(class="calendar icon") 
									|#{note.modified_at}
							h4(class='ui text container', style="color:grey") #{note.short_description}
			div(class='ui divider')
